/* Programmers: Austin Mutschler & Brittany Paielli */
@CHARSET "UTF-8";

html, body{
	margin: 0px;
	height: 100vh;
	min-width: 1085px;
}

.searchinput{
	width: 40em;
    background-color: white;
    color: #272727;
    border: none;
    outline: none;
    padding: 10px 10px;
    margin-bottom: 1em;
    font-size: 12pt;
}

.searchinput:focus{
	border-style: solid;
	border-color: #0080c0;
	border-width: 1px;
	border-right: none;
}

::placeholder{
	color: #5c5c5c;
}

.mainbuttons{
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-family: "Roboto";
    cursor: pointer;
}

.mainbuttons:hover { 
    background-color: #0080ff;
}

#searchbutton{
    background-color: #0080c0;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-family: "Roboto";
    cursor: pointer;
    height: 2em;
}

#searchbutton:hover { 
    background-color: #0080ff;
}

#head{
	background-color: #efefef;
	height: 3em;
	padding: 1em 3em 3em 3em;
}

.logo{
	float: left;
	width: 10em;
}

.textlogo{
	font-family: 'Titillium Web', sans-serif;
	font-size: 35pt;
	color: #0080c0;
	text-shadow: 2px 2px 20px white;
	margin: 0;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searcharea{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    width: 40em;
}

.mainsearch{
	display: flex;
    justify-content: center;
	height: 3em;
	width: 40em;
}

.headright{
	float: right;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
	height: 6em;
	width: 10em;
	margin-top: -0.5em;
}

.dropbox{
	position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 -1.5em;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}



#usersname{
	margin-bottom: .5em;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	cursor: pointer;
}

#location{
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

.categories{
	width: 15em;
	height: 2em;
	border-top: none;
	border-right: none;
	border-bottom: none;
	outline: none;
	font-size: 12pt;
}

.categories:active:hover{
	outline: none;
}

div.tab {
    overflow: hidden;
    background-color: #efefef;
    padding-left: 3em;
}

div.tab button.sectionl {
    background-color: #fafafa;
    float: left;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: 0.1s;
    font-size: 12pt;
}

div.tab button.sectionl:hover {
    background-color: white;
}

div.tab button.sectionl.active {
    background-color: white;
    border-bottom: 1px solid white;
}

#newpostbutton{
	float: right;
	margin-right: 4em;
}


#logoutbutton{
	float: right;
	margin-right: 2em;
}

.boardcontent {
    display: none;
    padding: 1em 3.3em 1em 3.1em;
}

.cpbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}

.cp-content {
    background-color: white;
    margin: 2em auto;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #888;
    width: 26em;
    height: 28em;
    border-radius: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#createoffering{
	display: none;
}

#createseeking{
/* 	display: none; */
}

.createposttemplate{
	border: 2px solid black;
	background-color: #ececff;
	font-size: 18pt;
	font-family: "Roboto";
	margin: 0 auto;
	width: 11em;
	height: 15em;
	padding: 0em 1em;
}

.postcontentname{
	text-align: justify;
	margin: 0;
	margin-top: .5em;
	margin-bottom: .2em;
	line-height: 1.5em;
}

.postcontenttext{
	text-align: justify;
	margin: 0;
	margin-top: .2em;
	margin-bottom: .2em;
	line-height: 1.5em;
}

.createpostoccupation{
	font-size: 18pt;
	font-family: "Roboto";
	width: 11em;
}

.createpostdescription{
	font-size: 18pt;
	font-family: "Roboto";
	resize: none;
	width: 11em;
	height: 5em;
}

.createpostduedate{
	font-size: 16pt;
	width: 9.91em;
}